.navbar-brand{
    margin-left: 2em;
}
.head-section-home{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#01579b,#59b988)
}
.head-section-people{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#9b2c01,#c09f26)
}
.head-section-software{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#4b22a9,#707925)
}
.head-section-publications{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#c15271,#0e635c)
}
.head-section-news{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#1b1593,#65e5ee)
}
.research-topic-one{
    background:url("../img/hero.svg") no-repeat top 0 right 169px/98%,linear-gradient(to right,#17968bd6,#179656d6);
    padding: 2em;
    text-align: justify;
    color: #313131;
}
.research-topic-two{
    background:url("../img/hero.svg") no-repeat top 0 right 69px/120%,linear-gradient(to right,#4b85a8,#9487c8d6);
    padding: 2em;
    text-align: justify;
    color: #313131;
}
.research-topic-three{
    background:url("../img/hero.svg") no-repeat top 0 right -169px/70%,linear-gradient(to right,#b56f37c2,#e46640);
    padding: 2em;
    text-align: justify;
    color: #313131;
}
.research-topic-four{
    background:url("../img/hero.svg") no-repeat top 0 right 169px/130%,linear-gradient(to right,#cd6481d6,#ae5552);
    padding: 2em;
    text-align: justify;
    color: #313131;
}
.research-topic-five{
    background:url("../img/hero.svg") no-repeat top 0 right 20px/90%,linear-gradient(to right,#cdbe64d6,#c58b12);
    padding: 2em;
    text-align: justify;
    color: #313131;
}
.research-topic-six{
    background:url("../img/hero.svg") no-repeat top 0 right -120px/50%,linear-gradient(to right,#b868bad6,#9e5c8d);
    padding: 2em;
    text-align: justify;
    color: #313131;
}

.head-section-software a:hover,.head-section-software .presentation a:hover{
    color:#bce8a6;
}
.head-section-software .presentation a{
    color: #e0a1ff;
}
.head-section-publications a:hover{
    color:#ffbbe3;
}
.lab-photo{
    background:url("../img/homepage/people.jpg") no-repeat top 0 right 0px/100% ;
    min-height: 15em;
    max-width: 23em;
    margin:auto
}

.head-section nav{
    background-color: #ffffff1a;
}
.head-section a{
    color: white;
}
.head-section-home a:hover{
    color: #81dfd7;
}
.head-section-people a:hover{
    color: #dbe364;
}

.head-section button{
    color:white
}
.container-md-home{
    text-align: center;
    margin-bottom: 2em;
}
.presentation{
    text-align: center;
    padding: 5em;
    margin:auto
}
.presentation img{
    width: 70%;
    max-width: 20em;
    display:block;
    margin: auto;
}
.presentation p{
    display: inline;
    color: white;
}
.presentation a{
    text-decoration: underline;
    color: #f596b8;
}
.presentation span{
    color:#a9fbff;
}
.presentation h1, .presentation h2{
    color: white;
}
.presentation-text{
    max-width: 32em;
    margin:auto;
    margin-top: 2em;
}
.row{
    margin-top: 2em;
    justify-content: space-around;
}
.accordion h2, .accordion .accordion-collapse{
    border: white;
}
.container-people a{
    color: #c76704;
    font-size: 1em;
    padding: 0;
    text-decoration: underline;
}
.container-people h2, .container-people h3{
    font-size: 2em;
    color: #c76704;
}
.container-people h3{
    margin-bottom: 1em;
    margin-top: 1em;
}
.other-members{
    text-align: center;
}
.card .accordion-button{
    display: block;
}
.accordion-button h2{
    font-size: 1.2em;
}
.container-people .card-text{
    font-weight: bold;
    font-size: 1.2em;
}
#map{
    margin-top: 3em;
}
.container-contact p{
    margin:0;
}
.container-contact h3{
    font-size: 1.4em;
    margin:0;
    margin-top: 1em;
}
.container-contact a{
    color: #9884ff;
    text-decoration:underline
}
.publications-container{
    margin-top: 4em;
}
.publications-container .card, .container-people .card, .container-software .card{
    margin-bottom: 2em;
}
.container-people .card{
    font-size: 0.8em;
}
.container-news img{
    width: 100%;
    margin-top:2em;
}
.container-news h2{
    color:#1f1e97
}

