.navbar-brand{
    margin-left: 2em;
}
#navbarSupportedContent ul{
    align-items: center;
}
.head-section-home{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#bda85c,#bda85c)
}
.head-section-people{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#9b2c01,#c09f26)
}
.head-section-software{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#4b22a9,#707925)
}
.head-section-publications{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#c15271,#0e635c)
}
.head-section-news{
    background:url("../img/hero.svg") no-repeat top 0 right -69px/126%,linear-gradient(to right,#1b1593,#65e5ee)
}
.research-topic-one{
    background:url("../img/hero.svg") no-repeat top 0 right 169px/98%,linear-gradient(to right,#e87860,#e87860);
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: justify;
    color: #313131;
    margin-bottom: 1em;
}
.contact-and-info{
    background:url("../img/hero.svg") no-repeat top 0 right 169px/150%,linear-gradient(to right,#d5b7e8,#d5b7e8);
}
.research-topic-two{
    background:url("../img/hero.svg") no-repeat top 0 right 69px/120%,linear-gradient(to right,#a9b8ab,#a9b8ab);
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: justify;
    color: #313131;
    margin-bottom: 1em;
}
.research-topic-three{
    background:url("../img/hero.svg") no-repeat top 0 right -169px/70%,linear-gradient(to right,#b53d50,#b53d50);
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: justify;
    color: #313131;
}
.head-section-software a:hover,.head-section-software .presentation a:hover{
    color:#bce8a6;
}
.head-section-software .presentation a{
    color: #e0a1ff;
}
.head-section-publications a:hover{
    color:#ffbbe3;
}
.head-section nav{
    background-color: #ffffff1a;
}
.head-section a{
    color: white;
}
.head-section-home a:hover{
    color: #81dfd7;
}
.head-section-people a:hover{
    color: #dbe364;
}

.head-section button{
    color:white
}
.container-md-home{
    text-align: center;
    color: #313131;
}
.container-md-home .col-12{
    margin-top: 2em;
}
.container-md-home .row{
    padding-bottom: 2em;
}

.vertical_align{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 991px) { 
    .vertical_align_important{
        display: flex!important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.presentation-text{
    text-align: center;
    max-width: 32em;
    margin:auto;
    color: white;
}
.presentation-text-home{
    color: black;
}
.group-logo{
    width: 70%;
    max-width: 20em;
    display:block;
    margin: auto;
}
.people-photo{
    width: 100%;
}
.presentation p{
    display: inline;
    font-size: 1.1em;
}
.presentation a{
    text-decoration: underline;
    color: #f596b8;
}
.row{
    margin-top: 2em;
    justify-content: space-around;
}
.accordion h2, .accordion .accordion-collapse{
    border: white;
}
.container-people a{
    color: #c76704;
    font-size: 1em;
    padding: 0;
    text-decoration: underline;
}
.container-people h2, .container-people h3{
    font-size: 2em;
    color: #c76704;
}
.container-people h3{
    margin-bottom: 1em;
    margin-top: 1em;
}
.other-members{
    text-align: center;
}
.other-members{
    align-items: center;
}
.other-members p{
    display: inline;
    
}
.card .accordion-button{
    display: block;
}
.accordion-button h2{
    font-size: 1.2em;
}
.container-people .card-text{
    font-weight: bold;
    font-size: 1.2em;
}
#map{
    margin-top: 3em;
}
.container-contact{
    margin-bottom: 2em;
}
.container-contact p{
    margin:0;
}
.container-contact h3{
    font-size: 1.4em;
    margin:0;
    margin-top: 1em;
}
.container-contact a{
    color: #ffffff;
    text-decoration:underline
}
.publications-container{
    margin-top: 4em;
}
.publications-container .card, .container-people .card, .container-software .card{
    margin-bottom: 2em;
}
.container-people .card{
    font-size: 0.8em;
}
.container-news img{
    width: 100%;
    margin-top:2em;
}
.container-news h2{
    color:#1f1e97
}
.video{
    margin-top: 2em;
}
.research-topic-three img, .research-topic-one img,.research-topic-two img{
    max-width: 100%;
}
.presentation{
    text-align: center;
}
.presentation .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation h1, .presentation h2{
    color: white;
}
.index h1{
    text-align: center;
    margin: 2em;
}
.index h2{
    text-align: center;
}